<!DOCTYPE html>
<html>
<head>
<title>HTML cho phỏng vấn</title>
</head>
<body>
<p>
	cảm ơn các bạn đã theo dõi buổi siminar này <br/>
	<center>chúc các bạn một ngày làm việc hiệu quả và nhiều niềm vui<br/></center>
	thân ái chào tạm biệt <br/>

</p>
<p>
	đoạn này nằm ở phần trên <hr>
	đoạn này nằm ở phần dưới
</p>
<p>
	<pre>
		thẻ này giữ nguyên định dạng
		như lúc soạn thảo
		ngon đấy k cần phải dùng nhiều lệnh
		ooh nhưng có giữ nguyên các định dạnh <strong> thuộc tính lề</strong>,  căn blrchỉnh, màu sắc kích thước chữ k?
		???? pre pro 
	</pre>
</p>
<p>hiển thị những khoảng trống không ngắt trong html. Sau đây là ví dụ cho khoảng trống không ngắt "trong&nbsp html&nbsp" 12 tên cướp
</p>
<!-- comment trong html-->
</body>
</html>